<IfModule mod_rewrite.c>
  RewriteEngine On

  # If the requested URI doesn't end with a slash, and isn't a file, redirect to add slash
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} !(.*)/$
  RewriteRule ^(.*)$ /$1/ [L,R=301]

  # Serve HTML files directly without the .html extension
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ $1.html [L]

  # Handle 404s
  ErrorDocument 404 /404.html
</IfModule>
